<%
const cfg = { ...require("./data.json"), ...arguments?.[0] }
const {
	extraClasses,
	extraAttrs,
	type,
	label,
	name,
	isTextarea
} = cfg
%>

<%
const additionalClass = (isTextarea) ? "form-input-fullblock" : "";
const classes = `form-input ${extraClasses.join(" ")} ${additionalClass}`.trim();
const attrs = extraAttrs.join(" ")
%>
<% if (isTextarea) {%>

	<textarea
			class="<%= classes %>"
			<%- extraAttrs %>
			name="<%= name %>"
			placeholder=""
			required=""
	></textarea>
	<label class="form-label"><%= label %></label>

<% } else { %>
<input
	class="<%= classes %>"
	<%- extraAttrs %>
	name="<%= name %>"
	placeholder=""
	required=""
	type="<%= type %>"
>
<label class="form-label"><%= label %></label>

<% }%>