<%
const cfg = { ...require("./data.json"), ...arguments?.[0] }
const {
	extraClasses,
	extraAttrs
} = cfg
%>

<%
const classes = `header ${extraClasses.join(" ")}`.trim()
const attrs = extraAttrs.join(" ")
%>

<header
	class="<%= classes %>"
	<%- extraAttrs %>
>
	<div class="header__left">

			<%- require("../logo/template.ejs")({
				extraClasses: [
					"header__logo"
				]
			}) %>

		<nav class="header__navigation">
			<ul class="header__navigation-list">
				<li class="header__navigation-item"><a href="/" class="header__navigation-link">О компании</a></li>
				<li class="header__navigation-item"><a href="/" class="header__navigation-link">Продукция</a></li>
				<li class="header__navigation-item"><a href="/" class="header__navigation-link">Исследования</a></li>
				<li class="header__navigation-item"><a href="/" class="header__navigation-link">События</a></li>
				<li class="header__navigation-item"><a href="/" class="header__navigation-link">Контакты</a></li>
			</ul>
		</nav>
	</div>
	<div class="header__right">
		<div class="header__callback">
			<% const params = {
				src: '#modal-feedback',
			} %>
			<%- require("../button/template.ejs")({
				extraAttrs: [
					`data-js-modal-open-button='${JSON.stringify(params)}'`
				],
				label: 'ОБРАТНАЯ СВЯЗЬ'
			}) %>
		</div>

		<div class="header__lang-switcher">
			<%- require("../dropdown/template.ejs")({

			}) %>
		</div>

		<div class="header__search">
			<div class="quick-search">
				<%- require("../button/template.ejs")({
					extraClasses: [
						"button--transparent"
					],
					icon: "eye",
					labelIsHidden: true

				}) %>
			</div>
		</div>

		<div class="header__menu">
			<%- require("../button/template.ejs")({
				extraClasses: [
					"button--transparent",
						"BurgerButton"
				],
				extraAttrs: [
					`data-js-burger-button`
				],
				icon: "menu-burger",
				labelIsHidden: true
			}) %>

			<div class="mobile-menu" data-js-mobile-menu>
				<div class="mobile-menu__inner" data-js-mobile-menu-inner>
					<ul class="mobile-menu__lang-list">
						<li class="mobile-menu__lang-item">
							<a class="mobile-menu__lang-link" href="/" rel="alternate" hreflang="ru">ru</a>
						</li>
						<li class="mobile-menu__lang-item">
							<a class="mobile-menu__lang-link" href="/" rel="alternate" hreflang="en">en</a>
						</li>
					</ul>
					<ul class="mobile-menu__navigation-list">
						<li class="mobile-menu__navigation-item"><a href="/" class="mobile-menu__navigation-link">О компании</a></li>
						<li class="mobile-menu__navigation-item"><a href="/" class="mobile-menu__navigation-link">Продукция</a>
							<ul class="mobile-menu__navigation-list nested-list">
								<li class="nested-item"><a href="/" class="nested-link">Лодки</a></li>
								<li class="nested-item"><a href="/" class="mobile-menu__navigation-link nested-link">Катеры</a></li>
								<li class="nested-item"><a href="/" class="mobile-menu__navigation-link nested-link" >Плоты</a></li>
								<li class="nested-item"><a href="/" class="mobile-menu__navigation-link nested-link">Парусники</a></li>
							</ul>
						</li>

						<li class="mobile-menu__navigation-item"><a href="/" class="mobile-menu__navigation-link">Исследования</a></li>
						<li class="mobile-menu__navigation-item"><a href="/" class="mobile-menu__navigation-link">События</a></li>
						<li class="mobile-menu__navigation-item"><a href="/" class="mobile-menu__navigation-link">Контакты</a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>



</header>
