<div
        class="modal modal--feedback"
        id="modal-feedback"
        data-js-modal
>
  <header class="modal__header">
    <h1 class="modal__title h2 ">Обратная связь</h1>
    <div class="modal__subtitle">Оставьте Ваши данные, наш специалист свяжется с Вами в ближайшее время.</div>
  </header>



  <form class="form" action="./json/exampleSuccessForm.json" method="get" novalidate autocomplete="off" data-js-form>
    <div class="form__row">
      <div class="form__col">
        <div class="form__row">
          <%- require("../components/input/template.ejs")({
            extraAttrs: [
              'data-js-input-required=""'
            ],
            label: "ФИО*",
            type: "text",
            name: "user-name"

          }) %>
        </div>
        <div class="form__row">
          <%- require("../components/input/template.ejs")({
            extraAttrs: [
              'data-js-input-required=""'
            ],
            label: "ТЕЛЕФОН*",
            type: "text",
            name: "user-tel"
          }) %>
        </div>
        <div class="form__row">
          <%- require("../components/input/template.ejs")({
            extraAttrs: [
              'data-js-input-required="email"'
            ],
            label: "ЭЛЕКТРОННАЯ ПОЧТА*",
            type: "email",
            name: "user-email"
          }) %>
        </div>
      </div>
      <div class="form__col">
          <%- require("../components/input/template.ejs")({
            isTextarea: true,
            label: "Текст вопроса",
            type: "text",
            name: "user-question"
          }) %>
      </div>
    </div>
    <footer class="modal__actions">
      <div class="modal__actions-left">

        <div class="modal__recaptcha">
          <%- require("../components/g-recaptcha/template.ejs")({
            sitekey: "6Lf-QXsfAAAAACmxka6G6LcSyfAjnygR_rFzIf9V"
          }) %>
        </div>

        <%- require("../components/checkbox/template.ejs")({
          extraAttrs: [
            'data-js-input-required="checkbox"'
          ],
          type: "checkbox",
          label: 'Я соглашаюсь с <a href=“/” target=“_blank”>политикой конфиденциальности</a>'
        }) %>
      </div>
      <div class="modal__actions-right">
        <%- require("../components/button/template.ejs")({
          type: "submit",
          label: "ОТПРАВИТЬ",
          icon: "arrow-right"
        }) %>
      </div>

    </footer>
  </form>


</div>


